body {
  margin: 0;
  transition: background-color linear .2s;
}
body:has(.theme-dark) {
  background-color: #1a1a20;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
}

